 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      list-style: none;
      scroll-behavior: smooth;
    }
/* header{ 
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease .40s;
  background-color: #6e54fa;
}
body{
  background: white;
    color: black;
}
#menu-icon{
  font-size: 35px;
  color: white;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.logo{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}
.navbar{
  display: flex;
}
.navbar a{
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}
.navbar a:hover{
  background: white;
  color: black;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}
header.sticky{
  background: white;
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
*/
header{ 
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
   align-items: center; 
  justify-content: space-between;
  background: transparent;
  transition: ease .40s;
  display: inline-flex;
  
} 
.nav{
  display: inline-flex;
}
.main2{
  margin-top: 30px;
  margin-left: 250px;
}
.firstlist{
  display:flex;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif
}
.firstlist a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 6px;
}
.firstlist li{
  padding: 20px;
  list-style: none;
}
.firstlist a:hover{
  transition: 0.2ms;
  background-color: darkblue;
  color: white;
}
.navlogo{
  margin-left: 100px;
}


.sticky .logo{
  color: black;
}
.sticky .navbar a{
  color: black;
}
.lines h3{

    text-align: center;
    color: #4375d8;
    font-weight: 500;
    margin-top: 100px;
}

.lines p{
   
    margin-top: 7px;
    font-size: 13px;
    text-align: center;
    color: #6c6666; font-size: 15px;

}

.places {
  background-color: whitesmoke;
height: 157vh;
margin-left: 10vw;
margin-right: 10vw;
width: 80vw;
display: grid;
justify-content: space-evenly;
border-radius: 15px;

}

.content{
    border-radius: 15px;
    margin: 17px;
    width: 360px;
    height: 200px;
    background-color: white;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.row img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 360px;
    height: 160px;
}
.row p{
    text-align: center;
    color:rgb(9, 75, 28);
    z-index: 3;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 6px;
}

.row button{
    position: relative;
    bottom: 80px;
    left: 96px;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 50px;
    border-color: white;
    
}
.asking{
    width: 100%;
    height: 5vh;

}
:root{
  --bg-color: white;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
#contact{
  background-color: #6e54fa;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: 20px 0;
  background-color: #6e54fa;
  text-decoration: none;


}
ul {
  list-style: none;
}
.list{
  width: 25%;
  list-style-type: none;
}
.list h4{
  font-size: 21px;
  color: white;
  margin-bottom: 30px;
  position: relative;
  list-style-type: none;
}
.list h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: white;
}
.list ul li:not(:last-child){
  margin-bottom: 16px;
}
.list ul li a{
  color: #ffffffbf;
  font-size: 1.1rem;
  display: block;
  transition: .3s;
}
.list ul li a:hover{
  color: white;
  transform: translateY(14px);
}
.list .social a{
  height: 40px;
  width: 40px;
  background: white;
  color: 6e54fa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  transition: .3s;
  margin-right: 10px;
}
.list .social a:hover{
  transform: scale(1.1);
}